<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
	<%= render 'misc/header' %>
	<section class='main clearfix'>
		<%= render 'misc/sidebar' %>
		<div class="content">
			<%= yield %>
		</div>
	</section>
	<%= render 'misc/footer' %>
</div>

</body>
</html>
